/* Other rules */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f5f5;
  color: #2e3333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.Header {
  background: #fff;
}

.TopBar {
  height: 60px;
  border-bottom: 1px solid #e9ebeb;
}

.TopBar--center {
  height: 100%;
  align-items: center;
}

.RestaurantInfos--center,
.TopBar--center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

.RestaurantInfos--center {
  padding: 30px 0;
  align-items: flex-start;
}

.RestaurantInfos--texts {
  flex: 1 1;
  margin-right: 30px;
}

.RestaurantInfos--texts h1 {
  font-size: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}

.RestaurantInfos--texts p {
  color: #868a8a;
  font-size: 1.2rem;
  line-height: 1.5;
}

.RestaurantInfos--cover {
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
  background: #f3f5f5;
}

.Logo {
  height: 70%;
}

.Content--center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Menu {
  flex: 1 1;
  margin-right: 30px;
  margin-bottom: -25px;
}

.MenuItems--items {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.MenuItem {
  width: 50%;
  min-width: 300px;
  padding: 0 10px 25px;
}

.MenuItem--card {
  border-radius: 5px;
  height: 160px;
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.MenuItem--card:hover {
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
}

.MenuItem--texts {
  flex: 1 1;
  margin-right: 15px;
}

.MenuItem--texts h3 {
  font-weight: 400;
  margin: 0 0 0.5rem;
}

.MenuItem--texts p {
  font-size: 0.9rem;
  color: #808484;
  line-height: 1.3rem;
  height: 2.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 1rem;
}

.MenuItem--infos {
  display: flex;
  align-items: center;
}

.MenuItem--price {
  color: #808484;
  font-size: 1.1rem;
}

.MenuItem--popular {
  color: #ff8000;
  font-size: 0.8rem;
  margin-left: 1rem;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.MenuItem--picture {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.MenuItem--picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ----------- Footer ----------- */
.footer {
  height: 80px;
  text-align: center;
  background-color: white;
}

.footer p {
  line-height: 80px;
  color: #00cdbd;
}

.footer a {
  color: #00cdbd;
  text-decoration: none;
  cursor: pointer;
}

.footer img {
  height: 20px;
}
